def get_slack_webhook_url():
    '''
        Replace with your Slack Incoming Webhook URL.
    '''
    return 'https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX'

def get_slack_bot_token():
    '''
        Replace with your Slack Bot User OAuth Access Token. (Features -> OAuth & Permissions)
    '''
    return 'xoxb-0000000000-000000000000-000000000000000000000000'

def get_slack_verification_token():
    '''
        Replace with your Slack Verification Token. (Basic Information -> App Credentials)
    '''
    return 'XXXXXXXXXXXXXXXXXXXXXXXX'

def get_test_channel():
    '''
        Return your test channel ID here, if you will turn on TEST_MODE.
    '''
    return 'XXXXXXXXX'
    